
{% load static %}

{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

     <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <title></title>
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap-datepicker.min.css" %}" rel="stylesheet" media="screen">

       <!-- Custom Fonts -->
    <link rel="stylesheet" href={%  static "font-awesome/css/font-awesome.min.css" %} type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>


   <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> Государственная Статистическая Отчетность. Отчет об использовании воды - Раздел 3 - Ввод данных </a>
            </div>
            <!-- /.navbar-header -->


            <!-- /.navbar-top-links -->

    <!-- Navigation -->

       </nav>


<header>
    <h2> РАЗДЕЛ 3 СОДЕРЖАНИЕ ЗАГРЯЗНЯЮЩИХ ВЕЩЕСТВ В ВОДЕ, СБРАСЫВАЕМОЙ В ПОВЕРХНОСТНЫЕ ВОДНЫЕ ОБЪЕКТЫ </h2>
</header>
{% block content %}       {% endblock %}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>