{% extends "layout3.html" %}

{%  load static %}

{% block title %}  {% endblock %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
{% endblock %}

{% block content %}
    <div id="jsGrid"></div>


      <form role="form"  action="." method="post"> {% csrf_token %} {{ form }}

      <input type="submit"  name="Razdel3" value=" Принять и перейти к последнему разделу. Идентификатор формы -{{ id_main }} "  onchange="this.form.submit();"/>


</form>


     <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; РУП ЦНИИКИВР 2016 </p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <script>


        var tt = {{ id_main|safe }}

        var mm = {{ id_razdel|safe }}

        $(function() {

        function WaterField(config) {
        jsGrid.NumberField.call(this, config);
}

        WaterField.prototype = new jsGrid.NumberField({

        itemTemplate: function(value) {
        return " " + value.toFixed(3) + "";
         },

        filterValue: function() {
        return parseFloat(this.filterControl.val() || 0);
        },

        insertValue: function() {
        return parseFloat(this.insertControl.val() || 0);
        },

        editValue: function() {
        return parseFloat(this.editControl.val() || 0);
        }

});

jsGrid.fields.water = WaterField;

            $("#jsGrid").jsGrid({
                height: "75%",
                width: "210%",

                filtering: false,
                inserting: false,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,

                pageSize: 10,
                pageButtonCount: 5,

                editButton: true,                               // show edit button
                deleteButton: false,                             // show delete button
                clearFilterButton: false,                        // show clear filter button
                modeSwitchButton: false,                         // show switching filtering/inserting button

                 align: "center",                                // center content alignment
                                        // disable sorting for column

                 searchModeButtonTooltip: "Switch to searching", // tooltip of switching filtering/inserting button in inserting mode
                 insertModeButtonTooltip: "Switch to inserting", // tooltip of switching filtering/inserting button in filtering mode
                 editButtonTooltip: "Редактировать",                      // tooltip of edit item button
                 deleteButtonTooltip: "Удалить",                  // tooltip of delete item button
                 searchButtonTooltip: "Search",                  // tooltip of search button
                 clearFilterButtonTooltip: "Clear filter",       // tooltip of clear filter button
                 insertButtonTooltip: "Insert",                  // tooltip of insert button
                 updateButtonTooltip: "Update",                  // tooltip of update item button
                 cancelEditButtonTooltip: "Cancel edit",         // tooltip of cancel editing button


                 deleteConfirm: " Вы хотите удалить запись?",

                 controller: {
                    loadData: function(filter) {
                        var d = $.Deferred();

                        $.ajax({
                            type: "GET",
                            url: "/inform/api/3/"+tt,
                            data: filter
                        }).done(function(result) {
                            d.resolve($.map(result, function(item) {
                                return $.extend(item.fields, { id: item.pk });
                            }));
                        });

                        return d.promise();
                    },

                    insertItem: function(item) {
                        return $.ajax({
                            type: "POST",
                            url: "/inform/api/3/"+tt,
                            data: item
                        });
                    },

                    updateItem: function(item) {
                        return $.ajax({
                            type: "PUT",
                            url: "/inform/api/3/" + item.id,
                            data: item
                        });
                    },

                     deleteItem: function(item) {
                        return $.ajax({
                            type: "DELETE",
                            url: "/inform/api/3/" + item.id
                        });
                    }

                },
               fields: [
                   { name: "kod_str3", type: "number", title: 'Код строки |А|', width: 4 , readOnly : true },
                   { name: "location_outlet", type: "text",title: 'Местонахождение выпуска вод |Б|' ,width: 60 },
                   { name: "bod5", type: "water", title: ' БПК5, тонн  |1|', width: 30, align : "center" },
                   { name: "cod", type: "water", title: ' ХПК, тонн  |2|', width: 30, align : "center" },
                   { name: "ssolids", type: "water", title: ' Взвешенные в-ва, тонн |3|', width: 30, align : "center" },
                   { name: "mineral", type: "water", title: ' Минерализация, тонн  |4|', width: 30, align : "center" },
                   { name: "sulphate", type: "water", title: ' Сульфат-ион, тонн |5|', width: 30, align : "center" },
                   { name: "chloride", type: "water", title: ' Хлорид-ион, тонн |6|', width: 30, align : "center" },
                   { name: "phosp_ion", type: "water", title: ' Фосфат-ион, тонн |7|', width: 30, align : "center" },
                   { name: "totalp", type: "water", title: ' Фосфор общий, тонн |8|', width: 30, align : "center" },
                   { name: "nh4", type: "water", title: ' Аммоний-ион, тонн |9|', width: 30, align : "center" },
                   { name: "no2", type: "water", title: ' Нитрит-ион, тонн |10|', width: 30, align : "center" },
                   { name: "no3", type: "water", title: ' Нитрат-ион, тонн |11|', width: 30, align : "center" },
                   { name: "detergents", type: "water", title: ' СПАВ (анион-активные), тонн |12| ', width: 30, align : "center" },
                   { name: "oil_p", type: "water", title: ' Нефтепродукты, тонн  |13|', width: 30, align : "center" },
                   { name: "fe_tot", type: "water", title: ' Железо общее, тонн |14|', width: 30, align : "center" },
                   { name: "cr_tot", type: "water", title: ' Хром общий, тонн |15|', width: 30, align : "center" },
                   { name: "ni", type: "water", title: ' Никель, тонн |16|', width: 30, align : "center" },
                   { name: "cu", type: "water", title: ' Медь, тонн |17|', width: 30, align : "center" },
                   { name: "lead", type: "water", title: ' Свинец, тонн |18|', width: 30, align : "center" },
                   { name: "mercury", type: "water", title: ' Ртуть, тонн |19|', width: 30, align : "center" },
                   { name: "zink", type: "water", title: ' Цинк, тонн |20|', width: 30, align : "center" },

                   { type: "control" }
                ]
            });

          });
    </script>
{% endblock %}